body {
    font-family: "Times New Roman", serif;
    margin: 40px;
    background-color: white;
    color: black;
}

.logo {
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    margin: 20px 0;
}

ul {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    list-style: none;
    display: flex;
}

li {
    padding-left: 30px;
}

.headline {
    font-size: 32px;
    margin-top: 30px;
}

.main-img {
    margin-top: 15px;
    margin-bottom: 15px;
    align-self: right;
}

.text {
    font-size: 18px;
    line-height: 1.6;
}

