body {
    font-family: "Times New Roman", serif;
    width: 700px;
    margin: 20px;
    padding-bottom: 30px;
}

h1 {
    text-align: center;
    font-size: 36px;
    letter-spacing: 2px;
}

h2 {
    margin-top: 30px;
    padding-bottom: 5px;
}
